<h1><%= @pet.name %></h1>
<h4>Age:</h4>
<p><%= @pet.age %> years old</p>
<h4>Breed:</h4>
<p><%= @pet.breed %></p>
<h4>Adoptable:</h4>
<p><%= @pet.adoptable %></p>
<h4>Shelter:</h4>
<p><%= @pet.shelter_name %></p>

<div class="row">
  <div class="col-2">
    <p><%= link_to "Update #{@pet.name}", "pets/#{@pet.id}/edit", class: "edit" %></p>
  </div>
  <div class="col-2">
    <p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete, class: "delete" %></p>
  </div>
</div>
