<h1>Application to Adopt a Pet</h1>


<%= form_with url:'/applicants', method: :post, local: true do |form| %>
<div class="row">
  <div class="col">
    <%= form.label :name, 'Name', class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-5">
    <%= form.label :street_address, 'Street Address', class: "form-label" %>
    <%= form.text_field :street_address, class: "form-control" %>
  </div>
  <div class="col-3">
    <%= form.label :city, 'City', class: "form-label" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>
  <div class="col-1">
    <%= form.label :state, 'State', class: "form-label" %>
    <%= form.select :state, ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FM','FL','GA',
     'GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MH','MD','MA',
     'MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND',
     'MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT',
     'VT','VI','VA','WA','WV','WI','WY'], class: "form-select" %>
  </div>
  <div class="col-2">
    <%= form.label :zip_code, 'Zip Code', class: "form-label" %>
    <%= form.number_field :zip_code, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <%= form.submit 'Submit', class: "btn" %>
  </div>
</div>
 <% end %>
