<div class="header">
  <h1><%= @shelter.name  %></h1>
</div>

<h2>Pending Applications</h2>

<% @applications.each do |application| %>
<div class="applications" id="<%= application.id  %>">
  <div class="row">
    <div class="col-2">
      <h4><%= link_to "#{application.name}", "/admin/applications/#{application.id}"  %></h4>
    </div>
    <div class="col-3 bottom">
      <p>Status: <%= application.status %> </p>
    </div>
  </div>
  <p><%= application.city  %>, <%= application.state %></p>
</div>
<% end %>
