<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <div class = 'alert alert-danger'>
        <p><%= msg %></p>
      </div>
    <% end %>
    <nav class='navbar navbar-dark'>
      <div class="container">
        <%= link_to "Adopt a Pet", "/pets", class: "nav-link" %>
        <%= link_to "View Shelters", "/shelters", class: "nav-link active" %>
        <%= link_to "Veterinarians", "/veterinarians", class: "nav-link" %>
        <%= link_to "Veterinary Offices", "/veterinary_offices", class: "nav-link" %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
